.cssProVisualAccordionContent, .cssProVisualScrollablePresets {
    transition: all 100ms ease-in-out;
    opacity: 1;
    overflow: hidden;
    padding: 2px;
    padding-bottom: 15px;
}

.cssProVisualSpacingBox {
    width: 100%;
 
  
    margin-bottom: 25px;
    position: relative;
    border-radius: 10px;
}

